body{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

#playground{
    display: flex;
    width: 100px;
    flex-flow: row wrap;
    border: 1px solid black;
    margin: 0 auto;

}

.cell{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    font-size: 8px;
}

.prey-style{
    background-color: green;

}

.predator{
    background-color: red;
}

.prey{
    background-color: green;
}